@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  margin: 0;
  font-family: Montserrat;
}

.general {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 120px;
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .general {
    padding: 0 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .general {
    padding: 0 90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 731px) {
  .general {
    padding: 0 80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 711px) {
  .general {
    padding: 0 70px;
  }
}

@media screen and (min-width: 320px) and (max-width: 691px) {
  .general {
    padding: 0 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 661px) {
  .general {
    padding: 0 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 631px) {
  .general {
    padding: 0 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 591px) {
  .general {
    padding: 0 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 561px) {
  .general {
    padding: 0 5px;
  }
}
