.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.contacts h2 {
  margin: 0 0 60px 0;
  font-size: 36px;
  color: #194484;
}

.contacts h3 {
  margin: 0 0 20px 0;
  font-size: 24px;
  color: #242424;
}

.contacts h5 {
  margin: 0 0 55px 0;
  font-size: 16px;
  font-weight: normal;
}

.contacts .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 3px 16px 2px #1d336b26;
          box-shadow: 0px 3px 16px 2px #1d336b26;
  margin-top: 53px;
  position: relative;
  left: 330px;
  border-radius: 6px;
}

.contacts .form .icon_message {
  position: absolute;
  z-index: 5;
  left: -90px;
  top: -50px;
}

.contacts .form .icon_letter {
  position: absolute;
  z-index: 4;
  left: -120px;
  bottom: 33px;
}

.contacts .form .icon_phone {
  position: absolute;
  z-index: 3;
  top: -52px;
  right: -84px;
}

.contacts .form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 40px 70px 40px;
  border-radius: 6px;
  background-color: white;
  z-index: 7;
}

.contacts .form .container .name {
  width: 340px;
  height: 40px;
  margin-bottom: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.24);
  border-radius: 6px;
}

.contacts .form .container .name input[type='name'] {
  font-size: 14px;
  border: none;
  outline: none;
  padding-top: 10px;
  padding-left: 18px;
}

.contacts .form .container .message {
  width: 340px;
  height: 40px;
  margin-bottom: 30px;
  padding-bottom: 39px;
  border: 0.5px solid rgba(0, 0, 0, 0.24);
  border-radius: 6px;
}

.contacts .form .container .message input[type='message'] {
  font-size: 14px;
  border: none;
  outline: none;
  padding-top: 10px;
  padding-left: 18px;
}

.contacts .form .container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2da531;
  border-radius: 6px;
  border: none;
  height: 50px;
  outline: none;
  font-size: 18px;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 110px;
}
