.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 43px;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0d6eb7;
  font-size: 16px;
}

.header .menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 23px;
}

.header .menu .list .arrow {
  width: 10px;
  height: 6px;
  margin-left: 3px;
}

.header .menu .list:last-child {
  margin-right: 0px;
}

.header .menu .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 22px;
  border-radius: 6px;
  border: 2px solid #06b25f;
  color: #06b25f;
  font-weight: 600;
}
