.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -120px;
  height: 540px;
  background-image: url(../../images/partners/background.svg);
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.partners::after {
  content: '';
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 115%;
  left: 0;
  right: 0;
  top: -46px;
  background-image: url(../../images/partners/opacity_back.svg);
}

.partners .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.partners .info h2 {
  margin: 0;
  font-size: 44px;
  margin-bottom: 10px;
}

.partners .info h3 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 36px;
}

.partners .info .button_talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-weight: 600;
  color: #06b25f;
  font-size: 16px;
  border: 3px solid #06b25f;
  border-radius: 8px;
  background-color: #fff;
  outline: none;
  padding: 7px 31px;
}
