.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .bread_crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #194484;
}

.products .bread_crumbs .arrow {
  margin: 0 12px;
}

.products .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 44px;
  font-weight: 600;
  color: #194484;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 90px;
}
