.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .bread_crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #194484;
}

.products .bread_crumbs .arrow {
  margin: 0 12px;
}

.products .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 44px;
  font-weight: 600;
  color: #194484;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 90px;
}

.products .picture .pic {
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .products .title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
  .products .title {
    font-size: 35px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1367px) {
  .products .title {
    font-size: 35px;
  }
  .products .picture {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .products .title {
    font-size: 32px;
  }
  .products .picture {
    width: 40%;
    margin-right: 65px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1151px) {
  .products .title {
    font-size: 30px;
  }
  .products .picture {
    width: 42%;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1070px) {
  .products .title {
    font-size: 25px;
  }
  .products .picture {
    width: 42%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .products .title {
    font-size: 25px;
  }
  .products .picture {
    width: 42%;
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 995px) {
  .products .title {
    font-size: 25px;
  }
  .products .picture {
    width: 42%;
    margin-right: 35px;
  }
}

@media screen and (min-width: 768px) and (max-width: 910px) {
  .products .title {
    font-size: 25px;
  }
  .products .picture {
    width: 42%;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 851px) {
  .products .title {
    font-size: 23px;
  }
  .products .picture {
    width: 42%;
    margin-right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .products .title {
    font-size: 23px;
  }
  .products .picture {
    width: 42%;
    margin-right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 541px) {
  .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products .bread_crumbs {
    top: 107px;
    left: 13px;
  }
  .products .title {
    font-size: 38px;
  }
  .products .picture {
    width: 80%;
    margin-right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 515px) {
  .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products .bread_crumbs {
    top: 107px;
    left: 13px;
  }
  .products .title {
    font-size: 35px;
  }
  .products .picture {
    width: 80%;
    margin-right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 471px) {
  .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products .bread_crumbs {
    top: 107px;
    left: 13px;
  }
  .products .title {
    font-size: 30px;
  }
  .products .picture {
    width: 80%;
    margin-right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 421px) {
  .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products .bread_crumbs {
    top: 85px;
    left: 13px;
  }
  .products .title {
    font-size: 25px;
  }
  .products .picture {
    width: 80%;
    margin-right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 351px) {
  .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products .bread_crumbs {
    font-size: 13px;
    top: 85px;
    left: 13px;
  }
  .products .title {
    font-size: 22px;
  }
  .products .picture {
    width: 80%;
    margin-right: 0;
  }
}
