.union {
  background-size: 100% calc(100% - 100px);
  background-repeat: no-repeat;
  margin: 0 -120px;
}

.union .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  margin: 0 120px 100px;
}

.union .content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 137px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.union .content .cards .card {
  display: block;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 16px 2px #1d336b26;
          box-shadow: 0px 3px 16px 2px #1d336b26;
  width: calc(33.33% - 55px);
  margin-bottom: 80px;
}

.union .content .cards .card h1 {
  margin: 0;
  font-size: 24px;
  color: #0d6eb7;
}

.union .content .cards .card p {
  margin: 8px 0;
}

.union .content .cards .card .information {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 16px 20px 16px;
}

.union .content .cards .card .cardimg {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  -webkit-box-shadow: -1px 3px 6px -2px #1d336b26;
          box-shadow: -1px 3px 6px -2px #1d336b26;
  width: 100%;
}

.union .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.union .partners .info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
}

.union .partners .info h2 {
  margin: 0;
  font-size: 44px;
  margin-bottom: 10px;
}

.union .partners .info h3 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 36px;
}

.union .partners .info .button_talk {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-weight: 600;
  color: #06b25f;
  font-size: 16px;
  border: 3px solid #06b25f;
  border-radius: 8px;
  background-color: #fff;
  outline: none;
  padding: 7px 31px;
}

@media screen and (max-width: 1200px) {
  .content .cards .card {
    width: calc(50% - 55px);
  }
}
