@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body {
  margin: 0;
  font-family: Montserrat;
}

.general {
  width: 100%;
  box-sizing: border-box;
  padding: 0 120px;

  // overflow-y: scroll;
  // overflow-x: hidden;
  // scrollbar-color: #00000021 #ffffff81;
  // border-radius: 1px solid;
  // scrollbar-width: thin;

  // &::-webkit-scrollbar {
  //   width: 8px; /* ширина для вертикального скролла */
  //   height: 8px; /* высота для горизонтального скролла */
  //   background-color: #ffffff81;
  // }

  // /* ползунок скроллбара */
  // &::-webkit-scrollbar-thumb {
  //   background-color: #00000021;
  // }

  // &::-webkit-scrollbar-thumb:active {
  //   background-color: #ffffff18;
  // }
}
