@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body {
  margin: 0;
  font-family: Montserrat;
}

.general {
  width: 100%;
  box-sizing: border-box;
  padding: 0 120px;
}
