.content {
  display: flex;

  .back {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    .ground {
      width: 100%;
    }
  }

  .cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 137px;
    .card {
      display: block;
      border-radius: 16px;
      box-shadow: 0px 3px 16px 2px #1d336b26;
      margin-bottom: 80px;

      h1 {
        margin: 0;
        font-size: 24px;
        color: #0d6eb7;
      }
      p {
        margin: 8px 0;
      }

      .information {
        display: block;
        box-sizing: border-box;
        padding: 16px 16px 20px 16px;
      }

      .cardimg {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        // border-bottom: 1px solid rgba(128, 128, 128, 0.199);
        box-shadow: -1px 3px 6px -2px #1d336b26;
      }
    }
  }
}
