.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  h2 {
    margin: 0 0 60px 0;
    font-size: 36px;
    color: #194484;
  }
  h3 {
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #242424;
  }
  h5 {
    margin: 0 0 55px 0;
    font-size: 16px;
    font-weight: normal;
  }

  .form {
    display: flex;
    box-shadow: 0px 3px 16px 2px #1d336b26;
    margin-top: 53px;
    position: relative;
    left: 330px;
    border-radius: 6px;

    .icon_message {
      position: absolute;
      z-index: 5;
      left: -90px;
      top: -50px;
    }
    .icon_letter {
      position: absolute;
      z-index: 4;
      left: -120px;
      bottom: 33px;
    }
    .icon_phone {
      position: absolute;
      z-index: 3;
      top: -52px;
      right: -84px;
    }

    .container {
      display: flex;
      flex-direction: column;
      padding: 50px 40px 70px 40px;
      border-radius: 6px;
      background-color: white;
      z-index: 7;

      .name {
        width: 340px;
        height: 40px;
        margin-bottom: 20px;
        border: 0.5px solid rgba(0, 0, 0, 0.24);
        border-radius: 6px;
        input[type='name'] {
          font-size: 14px;
          border: none;
          outline: none;
          padding-top: 10px;
          padding-left: 18px;
        }
      }

      .message {
        width: 340px;
        height: 40px;
        margin-bottom: 30px;
        padding-bottom: 39px;
        border: 0.5px solid rgba(0, 0, 0, 0.24);
        border-radius: 6px;
        input[type='message'] {
          font-size: 14px;
          border: none;
          outline: none;
          padding-top: 10px;
          padding-left: 18px;
        }
      }

      .button {
        display: flex;
        align-items: center;
        background-color: #2da531;
        border-radius: 6px;
        border: none;
        height: 50px;
        outline: none;
        font-size: 18px;
        color: #ffffff;
        justify-content: center;
        padding: 0 110px;
      }
    }
  }
}
