.content {
  display: flex;
  margin-bottom: 100px;

  .back {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    .ground {
      width: 100%;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 137px;
    // position: relative;
    justify-content: space-between;

    .card {
      display: block;
      border-radius: 16px;
      box-shadow: 0px 3px 16px 2px #1d336b26;
      width: calc(33.33% - 55px);
      margin-bottom: 80px;

      h1 {
        margin: 0;
        font-size: 24px;
        color: #0d6eb7;
      }
      p {
        margin: 8px 0;
      }

      .information {
        display: block;
        box-sizing: border-box;
        padding: 16px 16px 20px 16px;
      }

      .cardimg {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        // border-bottom: 1px solid rgba(128, 128, 128, 0.199);
        box-shadow: -1px 3px 6px -2px #1d336b26;
        width: 100%;
      }
    }
  }
}

$breakpoint-tablet: 768px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
@media screen and (max-width: $xl) {
  .content {
    .cards {
      .card {
        width: calc(50% - 55px);
      }
    }
  }
}
