.partners {
  display: flex;
  margin: 0 -120px;
  margin-bottom: 120px;
  height: 540px;
  background-image: url(../../images/partners/background.svg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 115%;
    left: 0;
    right: 0;
    top: -46px;
    background-image: url(../../images/partners/opacity_back.svg);
  }

  .info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    h2 {
      margin: 0;
      font-size: 44px;
      margin-bottom: 10px;
    }
    h3 {
      margin: 0;
      font-size: 24px;
      margin-bottom: 36px;
    }
    .button_talk {
      position: relative;
      display: flex;
      font-family: Montserrat;
      font-weight: 600;
      color: #06b25f;
      font-size: 16px;
      border: 3px solid #06b25f;
      border-radius: 8px;
      background-color: #fff;
      outline: none;
      padding: 7px 31px;
    }
  }
}
