.union {
  background-size: 100% calc(100% - 100px);
  background-repeat: no-repeat;
  margin: 0 -120px;

  .content {
    display: flex;
    margin-bottom: 100px;
    margin: 0 120px 100px;

    .cards {
      display: flex;
      flex-wrap: wrap;
      padding-top: 137px;
      // position: relative;
      justify-content: space-between;

      .card {
        display: block;
        border-radius: 16px;
        box-shadow: 0px 3px 16px 2px #1d336b26;
        width: calc(33.33% - 55px);
        margin-bottom: 80px;

        h1 {
          margin: 0;
          font-size: 24px;
          color: #0d6eb7;
        }
        p {
          margin: 8px 0;
        }

        .information {
          display: block;
          box-sizing: border-box;
          padding: 16px 16px 20px 16px;
        }

        .cardimg {
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          // border-bottom: 1px solid rgba(128, 128, 128, 0.199);
          box-shadow: -1px 3px 6px -2px #1d336b26;
          width: 100%;
        }
      }
    }
  }

  .partners {
    display: flex;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
    position: relative;

    .info {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #000;

      h2 {
        margin: 0;
        font-size: 44px;
        margin-bottom: 10px;
      }
      h3 {
        margin: 0;
        font-size: 24px;
        margin-bottom: 36px;
      }
      .button_talk {
        position: relative;
        display: flex;
        font-family: Montserrat;
        font-weight: 600;
        color: #06b25f;
        font-size: 16px;
        border: 3px solid #06b25f;
        border-radius: 8px;
        background-color: #fff;
        outline: none;
        padding: 7px 31px;
      }
    }
  }
}

$breakpoint-tablet: 768px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@media screen and (max-width: $xl) {
  .content {
    .cards {
      .card {
        width: calc(50% - 55px);
      }
    }
  }
}
